#encoded1, #encoded2, #hideContent1, #hideContent2 {
  display: none;
}

#showContent1 {
  cursor: pointer;
  color: #0088cc;
}

#showContent1:hover {
  text-decoration: underline;
}

#showContent2 {
  cursor: pointer;
  color: #0088cc;
}

#showContent2:hover {
  text-decoration: underline;
}


/*.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}*/
